.main_title {
    text-align: center;
}

.person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 25px 0;
}

.photo {
    width: 35%;
    object-fit: cover;
}

.text {
    padding: 25px;
}

.name {
    color: black;
    text-decoration: underline;
    text-align: center;
}

@media screen and (max-width: 800px) {
    .person {
        flex-direction: column;
    }

    .name > img {
        /*width: 100%;*/
        /*object-fit: cover;*/
    }
}
