.info {
    width: 25%;
    padding-right: 25px
}

.main {
    width: 70%;
    /*margin-top: 18.7px;*/
    padding: 20px;
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.2);
}

.title {
    background: #6d3a95;
    color: white;
    padding: 15px;
    text-align: center;
}

.abit_info, .news, .scince_info {
    box-shadow: 0px 0px 20px 3px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.main_title {
    text-align: center;
}

.title:first-child {
    margin-top: 0;
}

.links > a {
    text-decoration: none;
    color: #248cc8;
}

.links > p {
    margin: 0;
    padding-left: 20px;
    padding-top: 5px;
    font-size: 13px;
    word-break: break-word;
}

@media screen and (max-width: 800px) {
    .info {
        width: 100%;
        padding-right: 0;
    }
}
